{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "arrowFunctions": true
        }
    },
    "plugins": ["@typescript-eslint", "prettier"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts", ".tsx"],
                "paths": ["./src"]
            }
        }
    },
    "rules": {
        "comma-dangle": "off",
        "function-paren-newline": "off",
        "global-require": "off",
        "import/no-dynamic-require": "off",
        "no-inner-declarations": "error",
        "import/extensions": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-var-requires": "warn",
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "no-undef": "error"
    }
}
